html { box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: blue;
  color: #ffffff;
  font-family: Arial;
}

section {
  padding: 20px;
  border: 15px;
}

h1 { font-size: large;
}

h2 { font-size: medium;
}
  

.flex-container {
  display:flex;
}

.first-content { 
  flex:0
}

.second-content {
  flex:0
}
