html { box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: grey;
  color: #ffffff;
  font-family: Open Sans;
}

section {
  padding: 20px;
  border-radius: 15px;
}

h1 { font-size: large;
}

h2 { font-size: medium;
    font: 
}
  
.flex-container {
  display:flex;
}

.first-content { 
  flex:1
}

.second-content {
  flex:1
}
