*{
  text-decoration: none;
}

body{
  background-color: rgb(226, 196, 157);
  padding: 0%;
}

body, html, h1{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*navbar*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
.navbar a:hover{
  color: rgb(226, 196, 157);
  transition: 0.5s ease-in-out 0s; /*gradual transition*/
  opacity: 8;
}
li{
  float: right;
}
li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
}
.logo{
  font-size: 42px;
  font-weight: bold;
  align-items: center;
  color: #333;
}
/*span{ getting rid of 'o' in 'dogmaps' for paw
  color:rgb(226, 196, 157);
} */

/*paw print logo*/
/*.pad { 
  width: 7.5px;
  height: 11px;
  background-color: #333;
  border-radius: 50% 50% 40% 40%/ 60% 60% 40% 40%;
  display: block;
  position: absolute;
}*/
/*.large{ 
  width: 30px;
  height: 26px;
  transform: rotate(50deg);
  left: 96px;
  top: 54px;
  border-radius: 40% 40% 40% 40%/ 60% 60% 40% 40%;
}
.small-1{
  transform: rotate(55deg);
  left: 110px;
  top: 42px;
}
.small-2{
  transform: rotate(70deg);
  left: 120px;
  top: 48px;
}
.small-3{
  transform: rotate(77deg);
  position: absolute;
  left: 126px;
  top: 58px;
}

.paw-print-1{
  opacity: 1;
  position: sticky;
  left: -100px;
  top: 60px;
  transform: rotate(-40deg);
  display: table;
  margin: 0;
  margin-left: -82px;
}*/


/* the hero image*/
.heroImg{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("../img/img3.jpg");
  height:60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0%;
  background-origin: content-box;
}
/*text inside pictures*/
.heroTxt{
  text-align: center;
  position: relative;
  top: 20%;
  bottom: 50%;
  color:rgb(219, 211, 211);
  font-size: larger;
}
/*dogmap button*/
.btn{
  background-color: rgb(204, 197, 197);
  border: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-left-radius: 3px;
  /*curving edges*/
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;

}
input:focus{ /*gets rid of blue outline in text box*/
  outline: none;
}
/*flexbox start*/
.container1{
  display: flex;
  align-items: flex-start;
  
}
p, h1{
  text-align: center;
}

.container1 div{
border: 10px  rgb(226, 196, 157) solid;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
overflow: hidden;

}
.box1{
  flex:1;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("../img/img8.jpg");
  background-size: cover;
  color:rgb(219, 211, 211);
  background-color: burlywood;
  
}
.box2{
  flex: 1;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url(../img/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:rgb(219, 211, 211);
}






  


